.TextTruncate--wrapper {
  line-height: 1.2em;
  .TextTruncate--wrapper-text {
    height: 100%;
    display: inline-block;
    word-break: break-all;
  }
  .TextTruncate--elem-hidden {
    visibility: hidden;
  }
}
